.div{
    display: flex;
    justify-content: space-around;
}

.div input{
    margin: 15px;
    width: 20%;
}

.div button {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0.5rem;
  }